body{
    padding: 0;
    margin: 0;
}
.navbar{
    margin: 0;
    height: 50px;
    width: auto;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 13%, rgba(9,81,121,1) 36%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logo{
    font-size: 30px;
    color: white;
    padding: 0;
    margin: 0;
    font-weight: 600;
}
#mainbox{
    display: flex;
}
#card1{
    border-bottom: 1px solid grey;
    flex: 1;
    height: 500px;
}
#card2{
    flex: 1.5;
    height: auto;
    padding: 20px;
    border-bottom:  1px solid grey;
    border-left:  1px solid grey;
}

.center {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.center .inputbox [type="button"] {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}
.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}


#tasks{
    width: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#tasktitle{
    font-size: 20px;
    font-weight: 600;
}
#deletetask{
    border: 2px solid rgb(255, 142, 142);
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 142, 142);
    background-color: white;
    padding: 1px 10px;
    border-radius: 4px;
}
#deletetask:hover{
    color: red;
    border: 2px solid red;
    cursor: pointer;
}
#taskid{
    display: none;
}